link(rel='stylesheet' href=url_for(theme.asset.aplayer_css) media="print" onload="this.media='all'")
script(src=url_for(theme.asset.aplayer_js))
script(src=url_for(theme.asset.meting_js))

//- 全局悬浮迷你播放器
#music-float-player
  meting-js(
    server="netease"
    type="playlist"
    id="2309860218"
    api="https://fcmmm.xyz/api/music?server=:server&type=:type&id=:id"
    fixed="true"
    mini="true"
    autoplay="false"
    theme="#49B1F5"
    loop="all"
    order="random"
    volume="0.7"
  )

if theme.pjax.enable
  script.
    (() => {
      btf.addGlobalFn('pjaxSend', () => {
        if (window.aplayers) {
          for (let i = 0; i < window.aplayers.length; i++) {
            if (!window.aplayers[i].options.fixed) window.aplayers[i].destroy()
          }
        }
      }, 'destroyAplayer')
    })()
